*{
    box-sizing: border-box;
    overflow: hidden;
}

.main{
    display: flex;
    width: 1024px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: 10px auto;
    padding: 0 12px;
}

.top , .menu , .update , .marquee , .content , .footer{
    border: 1px solid lightgray;
}

.top{
    flex-basis: 1000px;
    height: 65px;
}

.aside{
    display: flex;
    flex-direction: column;
    height: calc(768px - 29px - 20px);
    flex-basis: 215px;
}
.menu{
    flex-basis: calc(100% - 25px);
}
.update{
    flex-basis: 25px;
}

.section{
    display: flex;
    flex-direction: column;
    flex-basis: calc(1000px - 215px);
}
.marquee{
    flex-basis: 29px;
}
.content{
    flex-basis: calc(100% - 29px);
}

.footer{
    flex-basis: 1000px;
    height: 20px;
}